[*.cs]

# PX1048: Only the DAC instance that is passed in the event arguments can be modified in this event handler
dotnet_diagnostic.PX1048.severity = suggestion

# PX1016: A graph extension must include a public static IsActive method with the bool return type. Extensions which are constantly active reduce performance. Suppress the error if you need the graph extension to be constantly active.
dotnet_diagnostic.PX1016.severity = suggestion

# PX1008: The reference to {0} is captured in the {1} delegate and will cause synchronous execution of the delegate. It may lead to random bugs and data consistency issues.
dotnet_diagnostic.PX1008.severity = silent

# PX1053: Strings concatenation is not allowed as a parameter for localization methods and PXException constructors. You should use localization format methods instead.
dotnet_diagnostic.PX1053.severity = silent

# PX1070: The state of fields and actions can be configured only in the RowSelected event handler
dotnet_diagnostic.PX1070.severity = silent
